<% content_for(:title, @lesson.name + " | PROGRAMAJAMA") %>

<h1><%= @lesson.name %></h1>

<div class="panel">
  <div class="panel-body">

    <p>
      <%= @lesson.body %>
    </p>
  </div>
  <div class="panel-footer">
    <p>
      Lesson <%= @lesson.order_number %>
    </p>
  </div>
</div>
